@media (max-width:320px) {

@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700|News+Cycle:400,700);
@import "fotorama";

body {
  font-size: 16px;
  font-family:'News Cycle', sans-serif;
  line-height: 1;
  background-image: url(../img/furley_bg/furley_bg.png);
  margin:0;
}

#wrapper{
  max-width: 320px;
  margin: 0 auto;
}

header{
  text-align: center;
}

h1{
  font-size: 80px;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  margin: 10px 1px 1px 1px;
}

address{
  text-align: center;
  line-height: 1;
  font-style: normal;
}

address p a{
  text-decoration: underline;
  color: black;
}

address p a:hover{
  color: #B6B7C0; /*light grey*/
}

address p a:active{
  color: white;
}

/*splash page nav*/

#splash-mobile{
  display: none;
}



}
/* questions:

add message that displays visit my full website at url
add social media and icons
hide everything else
*/
